<div class="input-group input-group-lg">
	<input type="text" class="form-control" placeholder="Búscalo,...pero en ¡México!">
	<span class="input-group-btn">
		<button class="btn btn-default" type="button">
			<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
		</button>
	</span>
</div><!-- /input-group -->
